[diff]
	tool = meld
	algorithm = histogram
[merge]
	tool = meld
	conflictStyle = zdiff3
[core]
	excludesfile = ~/.gitignore_global
	pager = less -F -X
[push]
	default = simple
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[pull]
	rebase = false
[gpg]
	format = ssh
[commit]
	verbose = true
[interactive]
	diffFilter = delta
[branch]
	sort = -committerdate
[user]
	email = 1782530+witem@users.noreply.github.com
	name = witem
