[diff]
	tool = meld
[merge]
	tool = meld
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[init]
	templatedir = ~/.git-templates
[pull]
	rebase = false
[user]
	name = witem
	email = 1782530+witem@users.noreply.github.com
